<launch>
  <arg name="timeout" default="30.0"/>
  <arg name="filename" default="waypoint_default"/>
  <include file="$(find gps_navigation)/launch/waypoint_navigator.launch">
    <arg name="world_frame" value="odom"/>
    <arg name="timeout" value="$(arg timeout)"/>
    <arg name="filename" value="$(arg filename)"/>
  </include>
</launch>

